.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 148px;
    margin: 0 2rem;
    
    .icon-menu {
        width: 3rem;
        height: 3rem;
        border: none;
        background: none;
    }

    .nav {
        display: none;
    }

    @include media-breakpoint-up(smp) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 148px;
    
    }

    @include media-breakpoint-up(tab) {
        .icon-menu {
        
            display: none;
        }

        .nav {
            display: flex;
            text-transform: uppercase;
            list-style: none;
            padding: 0;
            
            &-item {
                margin-left: 20px;

                &:first-of-type {
                    margin: 0;
                }
            }
            
            &-link {
                color: $black;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }
}
