@mixin section-header {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 100px;
}

@mixin section-text {
  text-align: center;
  margin-bottom: 60px;
  opacity: 0.6;
}
 
@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
 
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}