/* Error: Mixin doesn't accept a content block.
 *    ,--> scss\_main.scss
 * 81 |   @include respond-to('small') {
 *    |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation
 *    '
 *    ,--> scss\_mixins.scss
 * 14 | @mixin respond-to($breakpoints) {
 *    |        ======================== declaration
 *    '
 *   scss\_main.scss 81:3  @import
 *   scss\style.scss 6:9   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Mixin doesn't accept a content block.\a    \250c \2500 \2500 > scss\\_main.scss\a 81 \2502    @include respond-to('small') {\d\a    \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ invocation\a    \2575 \a    \250c \2500 \2500 > scss\\_mixins.scss\a 14 \2502  @mixin respond-to($breakpoints) {\d\a    \2502         \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a    \2575 \a   scss\\_main.scss 81:3  @import\a   scss\\style.scss 6:9   root stylesheet";
}
